---
engine:
  influxdb:
    host: localhost
    port: 8086
    user: root
    password: root
    database: metrics
    anomaly_measurement: anomaly
    measurement_tag: m

schedules:
  - query: SELECT value FROM "default".cpu_idle GROUP BY *
    period: 30s
    delay: 10s
    tags:
      ret: day
  - query: SELECT value FROM "week".cpu_idle GROUP BY *
    period: 5m
    delay: 1m
    tags:
      ret: week
  - query: SELECT value FROM "month".cpu_idle GROUP BY *
    period: 1h
    delay: 1m
    tags:
      ret: month

mappings:
  - name: cpu_.*
    tags:
      ret: day
    detector:
      fingerprints:
        - sigma:
            deviations: 10
  - name: mem_.*
    tags:
      ret: day
    detector:
      fingerprints:
        - sigma:
            deviations: 10

alerts:
  - query: SELECT COUNT(start) FROM anomaly GROUP BY time(5m), *
    message: Too many anomalies detected
    threshold: 1
    period: 5m
    notifiers:
      - log:
          file: alerts.log
