---
engine:
  influxdb: &INFLUXDB
    host: localhost
    port: 8086
    user: root
    password: root
    database: morgoth

schedule:
  rotations:
    - {period: 2m, resolution: 2s}
    - {period: 4m, resolution: 4s}
    - {period: 8m, resolution: 8s}
    - {period: 24m, resolution: 24s}
  delay: 15s

metrics:
  - pattern: .*
    detectors:
      - mgof:
          min: 0
          max: 1

fittings:
  - rest:
      port: 7000
  - graphite:
      port: 2003
  - grafana:
      port: 7001
      influxdb: *INFLUXDB

