---
engine:
  influxdb:
    host: 192.168.1.1
    port: 8086
    user: root
    password: root
    database: morgoth

schedule:
  rotations:
    - {period: 2m, resolution: 2s}
    - {period: 4m, resolution: 4s}
    - {period: 1d, resolution: 30m}
  delay: 5s

metrics:
  - pattern: cpu.*
    detectors:
      - mgof:
          min: 0
          max: 100
    notifiers:
  - pattern: .*
    detectors:
      - kstest: {}
    notifiers:


fittings:
  - rest:
      port: 7000
  - graphite: {}

logging:
    level: INFO
