---
engine:
  influxdb:
    host: localhost
    port: 8086
    user: root
    password: root
    database: morgoth

schedule:
  rotations:
    - {period: 2m, resolution: 2s}
    - {period: 4m, resolution: 4s}
    - {period: 8m, resolution: 8s}
    - {period: 24m, resolution: 24s}
    - {period: 1d, resolution: 30m}
  delay: 15s

metrics:
  - pattern: cpu.total*
    detectors:
      - mgof:
          min: 0
          max: 800
          chi2: 0.80
  - pattern: cpu.*
    detectors:
      - mgof:
          min: 0
          max: 100
    notifiers:
  - pattern: .*
    detectors:
      - kstest: {}
    notifiers:


fittings:
  - rest:
      port: 7000
  - graphite: {}

logging:
    level: INFO
