---
engine:
  influxdb:
    host: localhost
    port: 8086
    user: root
    password: root
    database: morgoth

metrics:
  - pattern: .*
    detectors:
    notifiers:
    schedule:
      duration: 60
      period: 60
      delay: 0

fittings:
  - rest:
      port: 7000

logging:
    level: INFO
